.DS_Store
*.swp
*.swo
*~
*.pyc
__pycache__/
output.txt
test-*.json
# Ignora *-s1.json e *-s2.json ovunque tranne in orari/
*-s1.json
*-s2.json
!orari/**/*-s*.json



output.txt
test-*.json
# Ignora *-s1.json e *-s2.json ovunque tranne in orari/
*-s1.json
*-s2.json
!orari/**/*-s*.json


*.swp
*.swo
*~


